
.fc-calendar-container {
	height: 400px;
	width: auto;
	padding: 30px;
	background: rgb(33,34,39);
	border-radius: 4px;
}

.fc-calendar .fc-head {
	background: transparent;
	color: rgb(237,237,237);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}

.fc-calendar .fc-row > div {
	background: rgb(237,237,237);
	cursor: pointer;
}

.fc-calendar .fc-row > div:empty {
	background: transparent;
	cursor: default;
}

.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: rgb(24,25,28);
	font-weight: 400;
	pointer-events: none;
}

.fc-calendar .fc-row > div > span.fc-emptydate {
	color: #ccc;
}

.fc-calendar .fc-row > div.fc-today {
	background: #6256a9;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-content:after {
	content: '\00B7';
	text-align: center;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}

.fc-calendar .fc-row > div.fc-today.fc-content:after {
	color: #b02c42;
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #ef4f69;
}

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: #fff;
}
.fc-calendar .fc-body{
	border-radius: 4px;
	border-width: 1px;
}
.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}

@media screen and (max-width: 400px) {
	.fc-calendar-container {
		height: 300px;
	}
	.fc-calendar .fc-row > div > span.fc-date {
		font-size: 15px;
	}
}